body {
    font-family: 'PT Sans', sans-serif;
    background:#23272A;
    color:#72767d;
  }
  
  .display-4 {
    font-size:30px !important;
  }
  
  .dank {
    background:#7495e6;
    color:#fff !important;
    transition:.3s;
  }
  
  .dank:hover {
    background:#fff !important;
    color:#7495e6 !important;
    transition:.3s;
  }
  
  .typed {
    color:#fff !important;
  }
  
  .typed::after {
      content: '|';
      display: inline;
      -webkit-animation: blink 0.7s infinite;
      -moz-animation: blink 0.7s infinite;
      animation: blink 0.7s infinite;
  }
  
  /*Efface curseur typed.js*/
  .typed-cursor{
     opacity: 0;
      display: none;
  }
  /*Custom curseur Typed.js*/
  @keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink{
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  
  li {
    color:rgb(0, 0, 0) !important;
  }
  
  .cont {
    border:1px solid #2C2F33;
    border-radius:2px;
  }
  
  .jumbotron h1 {
    font-weight:700;
    color:#fff !important;
    font-size:100px;
  }
  
  .sub {
    font-size:18px;
    color:#fff !important;
  }
  
  .lead {
    color:rgb(0, 0, 0) !important;
  }
  
  h2, h3, h4, h5 {
    color:rgb(0, 0, 0) !important;
  }
  
  #card {
    font-size:80px;
    color:#7495e6;
  }
  
  .smol {
    width:200px;
  }
  
  #fat {
    font-weight:700;
  }
  
  .card {
    background: transparent !important;
    border:0px !important;
  }
  
  .jumbotron {
    border-radius:0px !important;
    background: url(https://img.search.brave.com/PJ-o_WG9M1hQlkgV885I3CqP-asu6KSTn_B2SBSPAQk/rs:fit:850:425:1/g:ce/aHR0cHM6Ly93d3cu/Y3h0b2RheS5jb20v/d3AtY29udGVudC91/cGxvYWRzLzIwMTkv/MDkvSG93LURvLUJv/dHMtQ2hhdGJvdHMt/V29yay5qcGc) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom:5px solid #fff;
  }

.BeforeScroll {
  display: none;
}


/*Use this class when you want your content to be shown after some scroll*/
.AfterScroll {
  display: block;
}
